body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("193.jpg");
  color: #1c1f2a;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.5;
}
main {
  background-color: #fcfdffed;
  margin: 50px;
  border-radius: 15px;
  box-shadow: rgba(36, 36, 68, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.grupo-main,
.questao {
  width: fit-content;
}

label {
  font-size: 25px;
  display: inline-grid;
}
.titulo {
  display: block;
}

.container {
  width: 31em;
  margin: 10px;
  padding: 20px;
}

.inputPequeno {
  width: 30px;
  height: 35px;
  margin-right: 1px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.enviar-prova {
  margin-left: 70px;
  cursor: pointer;
  width: 350px;
  height: 40px;
  margin-top: 30px;
  font-size: 20px;
  background-color: #191970;
  color: white;
  margin-bottom: 20px;
  border: none;
  border-radius: 3px;
}
.enviar-prova:hover {
  transition: 5ms;
  background-color: #191970;
  color: rgb(255, 255, 255);

  opacity: 0.7;
}

.descricao,
.tProva {
  width: 450px;
  margin-right: 10px;
  height: 35px;
}

input {
  margin-bottom: 15px;
  border-color: #3a4593;
  border-width: 1;
  border-radius: 3px;
}

.salva-questao {
  display: none;
  margin-right: auto;
  margin-left: auto;
  float: left;
  height: 35px;
  width: 180px;
  cursor: pointer;
}
.adcAlt {
  width: 30px;
  height: 35px;
  cursor: pointer;
}
#quant {
  margin-left: 60px;
}

.img-check {
  height: 10px;
  width: 15px;
}

.sim {
  margin-right: 2px;
}
#alternativa1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
